{% extends 'base.html.twig' %}

{% block title %} {{ controller_name }} {% endblock %}

{% block body %}

<h1 class=" text-center my-5"> {{ controller_name }} </h1>

<div class="text-center container w-50 ">
{{ form(form_register) }}
</div>

{% endblock %}